<mat-button-toggle-group name="page" aria-label="Page">
  <mat-button-toggle routerLink="/">Bio</mat-button-toggle>
  <mat-button-toggle routerLink="/personal-projects">Personal Projects</mat-button-toggle>
  <mat-button-toggle routerLink="/professional-projects">Professional Projects</mat-button-toggle>
  <mat-button-toggle routerLink="/resume">Resume</mat-button-toggle>
  <mat-button-toggle routerLink="/contact">Contact</mat-button-toggle>
  <div class="filler"></div>
</mat-button-toggle-group>