.mat-button-toggle-group {
    width: calc(100% + 20px);
    margin: 0 -10px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
}

.filler {
    width: 100%;
    background: #424242;
    border-left: solid 1px rgba(255,255,255,.12);
}

// .mat-button-toggle {
//     background-color: #69f0ae;
// }

.mat-button-toggle-checked {
    background-color: #7b1fa2;
}
