.mat-button-toggle-group {
  width: 100%;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
}

.mat-button-toggle-group {
  background-color: #111111;
  border-color: #000000;
}

.filler {
  width: 100%;
  background: #212121;
  border-left: solid 1px #000000;
}

.mat-button-toggle {
  background-color: #212121;
}

.mat-button-toggle,
.filler {
  border-left: solid 1px #000000 !important;
}

.no-left-border {
	border-left: none !important;
}

.mat-button-toggle-checked {
  background-color: #7b1fa2;
}
