/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/purple-green.css';

html {
    width: 100%;
}

body {
    width: 80%;
    margin: 8px auto;
}